{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
{% set show_feature_link=True %}

<div class="background-image">
    <div class="container">
        <h1>{{genre}} videos</h1>
        <div class="row">
        {% for video in videos %}
            {% if loop.index0 % 2 == 0 %}
                </div><div class="row">
            {% endif %}
            <div class="col-md-6 col-sm-12">
            {% include '_video.html' %}
            </div>
        {% endfor %}
        </div>
    </div>>
</div>
{% endblock %}
